.tip {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--border);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.tip > svg {
  width: 30px;
  height: 30px;
  fill: var(--text);
  flex-shrink: 0;
}

.warning {
  background-color: rgba(255, 136, 0, 0.12);
  border-color: rgba(255, 136, 0, 0.32);
}

.warning > svg {
  fill: rgb(255, 136, 0);
}

.error {
  background-color: rgba(255, 72, 0, 0.137);
  border-color: rgba(255, 72, 0, 0.521);
}

.error > svg {
  fill: rgb(255, 72, 0);
}