.sidebarItem > a {
  opacity: 0.7;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.sidebarItem.selected > a {
  color: var(--primary);
  opacity: 1;
}

.sidebarItem.selected > a > svg {
  fill: var(--primary);
}

.sidebarItem > a:hover {
  opacity: 1;
}

.sidebarItem > a:hover:active {
  transform: scale(0.95);
}

.sidebarItem > a > svg {
  width: 20px;
  height: 20px;
  fill: var(--text);
}

.label {
  display: none;
}

:global(.sidebar-open) .sidebarItem > a {
  justify-content: left;
  height: initial;
  width: initial;
  padding: 10px 15px;
}

:global(.sidebar-open) .label {
  display: inline;
}