.sidebarItem > a {
  border-radius: 5px;
  background-color: var(--secondary-button-background);
  flex-grow: 1;
  display: flex;
  color: inherit;
  padding: 10px 15px;
  border: 1px solid var(--border);
  gap: 10px;
  opacity: 0.7;
  transition: 0.3s;
}

.sidebarItem.selected > a {
  color: var(--primary);
}

.sidebarItem.selected > a > svg {
  fill: var(--primary);
}

.sidebarItem > a:hover {
  opacity: 1;
}

.sidebarItem > a:hover:active {
  transform: scale(0.95);
}

.sidebarItem > a > svg {
  width: 20px;
  height: 20px;
  fill: var(--text);
}