#avatarImageContainer {
  width: 100px;
  height: 100px;
  background-color: gray;
  border-radius: 100%;
}

#detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#username {
  font-size: 1.5rem;
}

#userDataBox {
  gap: 15px;
}