.item > a {
  margin: 0;
  padding: 15px;
  background-color: var(--secondary-button-background);
  color: inherit;
  display: flex;
  opacity: 0.7;
  transition: 0.1s;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.item > a:hover {
  opacity: 1;
}

.item > a > svg {
  width: 30px;
  height: 30px;
  fill: var(--text);
  flex-shrink: 0;
}

.item > a > section {
  display: flex;
  gap: 15px;
  align-items: center;
}

.item > a > section > svg {
  width: 30px;
  height: 30px;
  fill: var(--text);
  flex-shrink: 0;
}

.information {
  display: flex;
  flex-direction: column;
}

.information > span {
  color: var(--text-bold);
}

.information > p {
  font-size: 0.9rem;
}