#searchBar {
  font-family: monospace;
}

#main {
  max-width: none;
  gap: 15px;
  height: 100%;
  overflow-y: hidden;
}

.tableContainer {
  overflow-x: auto;
  width: 100%;
}

.itemGroup {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  gap: 15px;
  background-color: var(--menu-list-button-background);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#itemGroupContainer {
  overflow-y: auto;
  margin: 0 -15px -15px;
  padding: 15px;
}

#viewSettingsSection {
  border-bottom: 1px solid var(--border);
  margin: -15px;
  padding: 15px;
}

#main table {
  text-align: left;
  border-spacing: 0;
  border-radius: 5px;
  width: max-content;
  min-width: 100%;
  table-layout: fixed;
}

#main table colgroup:nth-of-type(1) {
  width: 43px;
}

#selectAllButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main table th, #main table td {
  padding: 10px;
}

#main table colgroup:nth-of-type(2), #main table colgroup:nth-of-type(4) {
  width: 150px;
}

#main table tr {
  height: 43px;
}

#main table .addItemRow > td {
  padding: 0 15px;
}

.addItemRow td > section {
  height: 43px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.addItemRow button {
  padding: 0 15px;
  height: 30px;
}

.addItemRow input {
  padding: 0;
  box-shadow: none;
  flex-grow: 1;
  background: none;
}

#main table th {
  border-top: 1px solid var(--border);
}

#main table th:first-of-type {
  border-top-left-radius: 5px;
}

#main table th:last-of-type {
  border-top-right-radius: 5px;
}

#main table tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 5px;
}

#main table tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 5px;
}

#main table th:first-of-type, #main table td:first-of-type {
  border-left: 1px solid var(--border);
}

#main table td a {
  color: var(--text);
}

#main table th, #main table td {
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
}