#searchBar {
  font-family: monospace;
}

#main {
  max-width: none;
  gap: 15px;
  height: 100%;
  overflow-y: hidden;
}

.itemGroup {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  gap: 15px;
  background-color: var(--menu-list-button-background);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#itemGroupContainer {
  overflow-y: auto;
  margin: 0 -15px -15px;
  padding: 15px;
}

#viewSettingsSection {
  border-bottom: 1px solid var(--border);
  margin: -15px;
  padding: 15px;
}

#main 

#main table colgroup:nth-of-type(2), #main table colgroup:nth-of-type(4) {
  width: 164px;
}

#main table .addItemRow > td {
  padding: 0 15px;
}

.addItemRow td > section {
  height: 43px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.addItemRow input {
  padding: 0;
  box-shadow: none;
  flex-grow: 1;
  background: none;
}