.popup {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  transform: scale(0.3);
  opacity: 0;
  transition: 0.3s;
  border-radius: 5px;
}

.popup:has(:global(.PopupFooter-module-popupFooter)) > :global(.PopupContent-module-popupContent) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.popup.visible {
  display: flex;
}

.popup.open {
  transform: scale(1);
  opacity: 1;
}

@media screen and (min-width: 380px) {

  .popup {
    width: calc(100% - 40px);
    height: initial;
    max-width: 1080px;
  }

}