.popupContainer {
  position: fixed;
  top: 0;
  background-color: var(--popup-container-background);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
}

.popupContainer.open {
  opacity: 1;
}

.popup {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  transform: scale(0.3);
  opacity: 0;
  transition: 0.3s;
  border-radius: 5px;
}

.popup > form {
  gap: 0;
  height: 100%;
  width: 100%;
}

.popup > form > section {
  flex-direction: row;
}

.popup.visible {
  display: flex;
}

.open > .popup {
  transform: scale(1);
  opacity: 1;
}

@media screen and (min-width: 380px) {

  .popup {
    width: calc(100% - 40px);
    height: initial;
    max-width: 1080px;
  }

}