.item > button {
  border: none;
}

.item > button > section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.item > button > svg {
  flex-shrink: 0;
}