:root {
  --body-background: white;
  --popup-background: rgb(247, 247, 247);
  --text: #535353;
  --text-bold: #252525;
  --popup-container-background: rgba(0, 0, 0, 0.5);
  --text-button: white;
  --menu-list-button-background: #fafafa;
  --border: #e6e6e6;
  --secondary-button-background: #f0f0f0c9;
  --text-input-background: var(--secondary-button-background);
  --primary: #007bff;
  --default-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

@font-face {
  font-family: "Figtree";
  src: url(./Figtree-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto Mono";
  src: url(./RobotoMono-VariableFont_wght.ttf);
}

html {
  font-size: 16px;
}

main > section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

html, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--body-background);
  transition: 0.3s;
}

p {
  line-height: 1.5;
}

.query-input {
  font-family: "Roboto Mono", monospace;
}

h1, button, p, th, td, a, section, input, textarea {
  font-family: "Figtree", sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary)
}

p {
  color: var(--text);
}

h1 {
  font-size: 2rem;
}

h1, h2, p {
  margin: 0;
}

code {
  padding: 5px;
  border-radius: 5px;
}

.column-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.toolbar {
  border-bottom: 1px solid var(--border);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 10px 15px;
  transition: 0.3s;
  gap: 10px;
}

button, input[type="submit"], .button {
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.1s;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary-button-background);
  color: var(--text);
  justify-content: center;
}

button[disabled], input[disabled], textarea[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

button:hover, .button:hover {
  filter: brightness(0.9);
}

button:hover:active, .button:hover:active {
  transform: scale(0.95);
}

button.primary-button, input[type="submit"].primary-button {
  background-color: var(--primary);
  color: var(--text-button);
}

.primary-button > svg {
  fill: var(--text-button);
} 

button.destructive-button, input[type="submit"].destructive-button {
  color: rgb(255, 85, 85);
}

button.destructive-button-filled, input[type="submit"].destructive-button-filled {
  background-color: rgb(255, 85, 85);
  color: var(--text-button);
}

.button-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form > section, .input-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="text"], input[type="password"], textarea {
  border-radius: 5px;
  padding: 10px 15px;
  border: none;
  font-size: 1rem;
  background-color: var(--text-input-background);
  color: var(--text);
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  font-size: 1rem;
}

ul {
  margin: 0;
}

main {
  display: flex;
  padding: 15px;
  gap: 30px;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  flex-basis: 0;
}

#scroll-container {
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6, p, li, label, section {
  color: var(--text);
}

#content {
  display: flex;
  box-sizing: border-box;
  transition: 0.3s;
  flex-grow: 1;
}

#main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.heading-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-weight: bold;
  color: var(--text);
}

button svg {
  fill: var(--text);
  width: 20px;
  height: 20px;
}

.horizontal-row {
  display: flex;
  gap: 15px;
}

.table-container {
  overflow-x: auto;
  width: 100%;
}

table {
  text-align: left;
  border-spacing: 0;
  border-radius: 5px;
  width: max-content;
  min-width: 100%;
  table-layout: fixed;
}

table th, table td {
  padding: 10px;
}

table button {
  padding: 0 15px;
  height: 30px;
}

table .icon-button {
  width: 30px;
  height: 30px;
  padding: 0;
}

.checkbox-colgroup {
  width: 52px;
}

.checkbox-cell > section {
  display: flex;
  align-items: center;
  justify-content: center;
}

table tr {
  height: 52px;
}

table th {
  border-top: 1px solid var(--border);
}

table th:first-of-type {
  border-top-left-radius: 5px;
}

.icon-button {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.item-description {
  font-size: 0.8rem;
}

.pagination-dropdown-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.account {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.account-type {
  font-size: 0.9rem;
}

table th:last-of-type {
  border-top-right-radius: 5px;
}

table tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 5px;
}

table tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 5px;
}

table th:first-of-type, table td:first-of-type {
  border-left: 1px solid var(--border);
}

table th, table td {
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
  height: 52px;
  box-sizing: border-box;
}

main > h1 {
  display: none;
}

@media screen and (min-width: 400px) {
  
  main > h1 {
    display: block;
  }

  main {
    padding: 30px;
  }

  #content.sidebar-open {
    width: 100%;
  }

}

@media (prefers-color-scheme: dark) {
  
  :root {
    --text: #c5c5c5;
    --text-bold: #eeeeee;
    --body-background: rgb(8, 8, 8);
    --popup-background: #121214;
    --menu-list-button-background: rgb(18, 18, 20);
    --border: rgb(27, 27, 27);
    --secondary-button-background: rgb(18, 18, 20);
  }

}