:root {
  --body-background: rgb(247, 247, 247);
  --popup-background: rgb(247, 247, 247);
  --text: #535353;
  --text-bold: #252525;
  --text-button: white;
  --menu-list-button-background: #fafafa;
  --border: #e6e6e6;
  --secondary-button-background: #f0f0f0;
  --text-input-background: #ffffff;
  --primary: #007bff;
}

@font-face {
  font-family: "Figtree";
  src: url(./Figtree-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto Mono";
  src: url(./RobotoMono-VariableFont_wght.ttf);
}

html {
  font-size: 100%;
}

main > section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

html, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--body-background);
  transition: 0.3s;
}

p {
  line-height: 1.5;
}

h1, button, p, th, td, a, section, input, textarea {
  font-family: "Figtree", sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: var(--text);
}

h1, h2, p {
  margin: 0;
}

b {
  color: var(--text-bold);
}

button, input[type="submit"] {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
  transition: 0.1s;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary-button-background);
  color: var(--text);
}

button[disabled], input[disabled], textarea[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

button:hover {
  filter: brightness(0.9);
}

button:hover:active {
  transform: scale(0.95);
}

button.primary-button, input[type="submit"].primary-button {
  background-color: var(--primary);
  color: var(--text-button);
}

.button-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form > section, .input-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="text"], input[type="password"], textarea {
  border-radius: 5px;
  padding: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  font-size: 1rem;
  background-color: var(--text-input-background);
  color: var(--text);
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  font-size: 1rem;
}

main {
  display: flex;
  padding: 15px;
  gap: 30px;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1080px;
  margin: 0 auto;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
}

#scroll-container {
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6, p, li, label, section {
  color: var(--text);
}

#content {
  display: flex;
  height: calc(100% - 60px);
  box-sizing: border-box;
  transition: 0.3s;
}

#main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heading-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-weight: bold;
  color: var(--text);
}

button svg {
  fill: var(--text);
  width: 20px;
  height: 20px;
}

.horizontal-row {
  display: flex;
  gap: 15px;
}

@media screen and (min-width: 360px) {
  
  #main-container {
    width: calc(100% - 360px);
  }

  #content {
    width: calc(100% + 360px);
    transform: translateX(-360px);
  }

  #content.sidebar-open {
    width: 100%;
    transform: translateX(0);
  }

}

@media (prefers-color-scheme: dark) {
  
  :root {
    --text: #c5c5c5;
    --text-bold: #eeeeee;
    --body-background: #121214;
    --popup-background: #121214;
    --menu-list-button-background: var(--sidebar);
    --border: #272727;
    --text-input-background: #0b0b0b;
    --secondary-button-background: #2d2d2d;
  }

}