#popupContent {
  background-color: var(--body-background);
  padding: 15px;
  flex-grow: 1;
}

@media screen and (min-width: 380px) {

  #popupContent {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

}